{% extends "breeder/base.html" %}
{% load static %}
{% load i18n %}
{% load l10n %}
{% load widget_tweaks %}
{% block csslibs %}
    {{ block.super }}
    <script src="{% static 'libs/datatable/handsontable.full.min.js' %}"></script>
    <link href="{% static 'libs/datatable/handsontable.full.css' %}" rel="stylesheet"/>
{% endblock csslibs %}
{% block content %}
    <div class="container-xl">
        <!-- Page title -->
        <div class="page-header">
            <div class="row align-items-center">
                <div class="col">
                    <div class="page-pretitle">
                        <span class="badge badge-outline text-azure"
                              title="{% translate "Loft name" %}">{{ pigeon.loft.name }}
                        </span>
                    </div>
                    <h2 class="page-title">
                        {{ pigeon.ring_serial }}
                    </h2>
                </div>
                <div class="col-auto ms-auto">
                    <div class="btn-group w-100">
                        <a href="#" class="btn btn-icon" aria-label="Button">
                            <!-- Download SVG icon from http://tabler-icons.io/i/bold -->
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24"
                                 viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                                 stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                <path d="M7 5h6a3.5 3.5 0 0 1 0 7h-6z"></path>
                                <path d="M13 12h1a3.5 3.5 0 0 1 0 7h-7v-7"></path>
                            </svg>
                        </a>
                        <a href="#" class="btn btn-icon" aria-label="Button">
                            <!-- Download SVG icon from http://tabler-icons.io/i/italic -->
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24"
                                 viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                                 stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                <line x1="11" y1="5" x2="17" y2="5"></line>
                                <line x1="7" y1="19" x2="13" y2="19"></line>
                                <line x1="14" y1="5" x2="10" y2="19"></line>
                            </svg>
                        </a>
                        <a href="#" class="btn btn-icon" aria-label="Button">
                            <!-- Download SVG icon from http://tabler-icons.io/i/underline -->
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24"
                                 viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                                 stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                <path d="M7 5v5a5 5 0 0 0 10 0v-5"></path>
                                <path d="M5 19h14"></path>
                            </svg>
                        </a>
                        <a href="#" class="btn btn-icon" aria-label="Button">
                            <!-- Download SVG icon from http://tabler-icons.io/i/copy -->
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24"
                                 viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                                 stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                <rect x="8" y="8" width="12" height="12" rx="2"></rect>
                                <path d="M16 8v-2a2 2 0 0 0 -2 -2h-8a2 2 0 0 0 -2 2v8a2 2 0 0 0 2 2h2"></path>
                            </svg>
                        </a>
                        <a href="#" class="btn btn-icon" aria-label="Button">
                            <!-- Download SVG icon from http://tabler-icons.io/i/scissors -->
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24"
                                 viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                                 stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                <circle cx="6" cy="7" r="3"></circle>
                                <circle cx="6" cy="17" r="3"></circle>
                                <line x1="8.6" y1="8.6" x2="19" y2="19"></line>
                                <line x1="8.6" y1="15.4" x2="19" y2="5"></line>
                            </svg>
                        </a>
                        <a href="#" class="btn btn-icon" aria-label="Button">
                            <!-- Download SVG icon from http://tabler-icons.io/i/file-plus -->
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24"
                                 viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                                 stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                <path d="M14 3v4a1 1 0 0 0 1 1h4"></path>
                                <path d="M17 21h-10a2 2 0 0 1 -2 -2v-14a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2z"></path>
                                <line x1="12" y1="11" x2="12" y2="17"></line>
                                <line x1="9" y1="14" x2="15" y2="14"></line>
                            </svg>
                        </a>
                        <a href="#" class="btn btn-icon" aria-label="Button">
                            <!-- Download SVG icon from http://tabler-icons.io/i/file-minus -->
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24"
                                 viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                                 stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                <path d="M14 3v4a1 1 0 0 0 1 1h4"></path>
                                <path d="M17 21h-10a2 2 0 0 1 -2 -2v-14a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2z"></path>
                                <line x1="9" y1="14" x2="15" y2="14"></line>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page-body">
        <div class="container-xl">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-warning alert-dismissible" id="success-alert" role="alert">
                        <div class="d-flex">
                            <div>
                                <svg xmlns="http://www.w3.org/2000/svg" class="alert-icon" width="24" height="24"
                                     viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                                     stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                    <path d="M12 9v2m0 4v.01"></path>
                                    <path d="M5 19h14a2 2 0 0 0 1.84 -2.75l-7.1 -12.25a2 2 0 0 0 -3.5 0l-7.1 12.25a2
                                    2 0 0 0 1.75 2.75"></path>
                                </svg>
                            </div>
                            <div>
                                <h4 class="alert-title">{% translate "Something happened..." %}</h4>
                                <div class="text-muted">{{ message }}</div>
                            </div>
                        </div>
                        <a class="btn-close" data-bs-dismiss="alert" aria-label="close"></a>
                    </div>
                {% endfor %}
            {% endif %}
            <div class="row row-cards">
                <div class="col-lg-9">
                    <div class="card card-lg">
                        {% if pigeon.gender == "MA" %}
                            <div class="ribbon bg-azure">
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24"
                                     height="24" viewBox="0 0 24 24" stroke-width="2"
                                     stroke="currentColor" fill="none" stroke-linecap="round"
                                     stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                    <circle cx="10" cy="14" r="5"></circle>
                                    <path d="M19 5l-5.4 5.4"></path>
                                    <path d="M19 5h-5"></path>
                                    <path d="M19 5v5"></path>
                                </svg>
                            </div>
                        {% elif pigeon.gender == "FE" %}
                            <div class="ribbon bg-pink">
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24"
                                     height="24" viewBox="0 0 24 24" stroke-width="2"
                                     stroke="currentColor" fill="none" stroke-linecap="round"
                                     stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                    <circle cx="12" cy="9" r="5"></circle>
                                    <path d="M12 14v7"></path>
                                    <path d="M9 18h6"></path>
                                </svg>
                            </div>
                        {% else %}
                            <div class="ribbon bg-orange">
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24"
                                     height="24" viewBox="0 0 24 24" stroke-width="2"
                                     stroke="currentColor" fill="none" stroke-linecap="round"
                                     stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                    <circle cx="12" cy="12" r="6"></circle>
                                    <path d="M7 12h11"></path>
                                </svg>
                            </div>
                        {% endif %}
                        <div class="card-header">
                            <h3 class="card-title">{% translate "Pigeon details" %}</h3>
                        </div>
                        <div class="card-tabs ">
                            <!-- Cards navigation -->
                            <ul class="nav nav-tabs">
                                <li class="nav-item">
                                    <a href="#tab-top-1" class="nav-link active"
                                       data-bs-toggle="tab">{% translate "Info" %}</a>
                                </li>
                                <li class="nav-item">
                                    <a href="#tab-top-2" class="nav-link"
                                       data-bs-toggle="tab">{% translate "Relatives" %}</a>
                                </li>
                                <li class="nav-item">
                                    <a href="#tab-top-3" class="nav-link"
                                       data-bs-toggle="tab">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="icon nav-link-icon"
                                             width="24"
                                             height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor"
                                             fill="none" stroke-linecap="round" stroke-linejoin="round">
                                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                            <path d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086
                                            -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z"></path>
                                        </svg>
                                        {% translate "Medication" %}</a>
                                </li>
                                <li class="nav-item"><a href="#tab-top-4" class="nav-link" data-bs-toggle="tab">Tab
                                    4</a></li>
                            </ul>
                            <div class="tab-content">
                                <!-- Content of card #1 -->
                                <div id="tab-top-1" class="card tab-pane active show">
                                    <div class="card-body">
                                        <div class="card-title">Content of tab #1</div>
                                        <p class="text-muted">
                                            {{ pigeon.field_completion }}
                                        </p>
                                    </div>
                                </div>
                                <!-- Content of card #2 -->
                                <div id="tab-top-2" class="card tab-pane">
                                    <div class="card-body">
                                        <div class="row row-cards">
                                            <div class="col-md">
                                                <div class="card">
                                                    <div class="card-status-top bg-blue"></div>
                                                    <div class="card-header">
                                                        <h3 class="card-title">{% translate "Offspring" %}</h3>
                                                    </div>
                                                    <div class="card-body p-0">
                                                        <div class="offspring"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md">
                                                <div class="card">
                                                    <div class="card-status-top bg-green"></div>
                                                    <div class="card-header">
                                                        <h3 class="card-title">Second card</h3>
                                                    </div>
                                                    <div class="card-body p-0">
                                                        <svg xmlns="http://www.w3.org/2000/svg" class="w-100"
                                                             preserveAspectRatio="none" width="400" height="200"
                                                             viewBox="0 0 400 200" fill="transparent"
                                                             stroke="var(--tblr-border-color, #b8cef1)">
                                                            <line x1="0" y1="0" x2="400" y2="200"></line>
                                                            <line x1="0" y1="200" x2="400" y2="0"></line>
                                                        </svg>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md">
                                                <div class="card">
                                                    <div class="card-status-top bg-blue"></div>
                                                    <div class="card-header">
                                                        <h3 class="card-title">Third card</h3>
                                                    </div>
                                                    <div class="card-body p-0">
                                                        <svg xmlns="http://www.w3.org/2000/svg" class="w-100"
                                                             preserveAspectRatio="none" width="400" height="200"
                                                             viewBox="0 0 400 200" fill="transparent"
                                                             stroke="var(--tblr-border-color, #b8cef1)">
                                                            <line x1="0" y1="0" x2="400" y2="200"></line>
                                                            <line x1="0" y1="200" x2="400" y2="0"></line>
                                                        </svg>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Content of card #3 -->
                                <div id="tab-top-3" class="card tab-pane">
                                    <div class="card-body">
                                        <div class="card-title">Content of tab #3</div>
                                        <p class="text-muted">
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci,
                                            alias aliquid distinctio dolorem expedita, fugiat hic magni molestiae
                                            molestias odit.
                                        </p>
                                    </div>
                                </div>
                                <!-- Content of card #4 -->
                                <div id="tab-top-4" class="card tab-pane">
                                    <div class="card-body">
                                        <div class="card-title">Content of tab #4</div>
                                        <p class="text-muted">
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci,
                                            alias aliquid distinctio dolorem expedita, fugiat hic magni molestiae
                                            molestias odit.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="card card-stacked">
                        <div class="card-header">
                            <h3 class="card-title">{% translate "Field completion" %}</h3>
                        </div>
                        <div class="card-body">
                            <div id="field-completion"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="porumbei"></div>
            </div>
        </div>
    </div>
{% endblock %}
{% block jslibs %}
    <!-- Libs JS -->
    <script src="{% static 'libs/apexcharts/dist/apexcharts.min.js' %}" defer></script>
    <script>
        // @formatter:off
        document.addEventListener("DOMContentLoaded", function () {
            window.ApexCharts && (new ApexCharts(document.getElementById('field-completion'), {
                chart: {
                    type: "radialBar",
                    height: 280,
                },
                series: [{{ pigeon.field_completion|unlocalize }}],
                colors: ["#4299E1"],
                plotOptions: {
                    radialBar: {
                        hollow: {
                            margin: 0,
                            size: "70%",
                            background: "#1D273B"
                        },
                        track: {
                            dropShadow: {
                                enabled: true,
                                top: 2,
                                left: 0,
                                blur: 4,
                                opacity: 0.15
                            }
                        },
                        dataLabels: {
                            name: {
                                offsetY: -10,
                                color: "#fff",
                                fontSize: "13px"
                            },
                            value: {
                                color: "#fff",
                                fontSize: "30px",
                                show: true
                            }
                        }
                    }
                },
                fill: {
                    type: "gradient",
                    gradient: {
                        shade: "dark",
                        type: "vertical",
                        {% if pigeon.field_completion < 70 %}
                            gradientToColors: ["#82D18E"],
                        {% else %}
                            gradientToColors: ["#2FB344"],
                        {% endif %}
                        stops: [0, 100]
                    }
                },
                stroke: {
                    lineCap: "round"
                },
                labels: ["{{ pigeon }}"]
            })).render();
        });
        // @formatter:on
    </script>
    <script>
        const data = [
            {% for p in pigeon.children %}
                {
                    ring: `<a href="{% url 'edit-pigeon' p.pk %}">{{ p }}</a>`,
                    gender: {% if p.gender == "MA" %}
                        `<svg xmlns="http://www.w3.org/2000/svg" class="avatar avatar-sm bg-azure-lt" width="24"
                             height="24" viewBox="0 0 24 24" stroke-width="2"
                             stroke="currentColor" fill="none" stroke-linecap="round"
                             stroke-linejoin="round">
                           <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                           <circle cx="10" cy="14" r="5"></circle>
                           <path d="M19 5l-5.4 5.4"></path>
                           <path d="M19 5h-5"></path>
                           <path d="M19 5v5"></path>
                        </svg>`
                            {% elif p.gender == "FE" %}
                            `<svg xmlns="http://www.w3.org/2000/svg" class="avatar avatar-sm bg-pink-lt" width="24"
                             height="24" viewBox="0 0 24 24" stroke-width="2"
                             stroke="currentColor" fill="none" stroke-linecap="round"
                             stroke-linejoin="round">
                           <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                           <circle cx="12" cy="9" r="5"></circle>
                           <path d="M12 14v7"></path>
                           <path d="M9 18h6"></path>
                        </svg>`
                            {% else %}
                            `<svg xmlns="http://www.w3.org/2000/svg" class="avatar avatar-sm bg-orange-lt" width="24"
                             height="24" viewBox="0 0 24 24" stroke-width="2"
                             stroke="currentColor" fill="none" stroke-linecap="round"
                             stroke-linejoin="round">
                           <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                           <circle cx="12" cy="12" r="6"></circle>
                           <path d="M7 12h11"></path>
                        </svg>`
                    {% endif %},
                    color: "{% translate p.color.color %}",
                },
            {% endfor %}
        ]
        let container = document.querySelector('.offspring');
        const searchField = document.querySelector('#search_field');

        let hot = new Handsontable(container, {
            data: data, // Initiating handsontable object
            colHeaders: ['{% translate "Ring details" %}', '{% translate "Gender" %}', '{% translate "Color" %}'],
            rowHeaders: true,
            // dropdownMenu: true,
            filters: true,
            search: true,
            contextMenu: true,
            editor: false,
            width: '100%',
            height: 'auto',
            stretchH: 'all',
            // dropdownMenu: ['filter_by_condition', 'filter_action_bar'],
            rowHeights: 30,
            columnSorting: true,
            // className: ['htCenter'],
            allowHtml: true,
            columns: [
                {data: "ring", renderer: safeHtmlRenderer},
                {data: "gender", renderer: safeHtmlRenderer},
                {data: "color", renderer: Handsontable.renderers.TextRenderer},
            ],
            licenseKey: 'non-commercial-and-evaluation'
        });

        function safeHtmlRenderer(instance, td, row, col, prop, value, cellProperties) {
            // be sure you only allow certain HTML tags to avoid XSS threats (you should also remove unwanted HTML attributes)
            td.innerHTML = Handsontable.helper.sanitize(value, {
                ALLOWED_TAGS: ['svg', 'path', 'circle', 'div', 'span', 'strong', 'a'],
            });
        }

        // add a search input listener
        searchField.addEventListener('keyup', function (event) {
            // get the `Search` plugin's instance
            const search = hot.getPlugin('search');
            // use the `Search` plugin's `query()` method
            const queryResult = search.query(event.target.value);

            console.log(queryResult);

            hot.render();
        });
    </script>
{% endblock jslibs %}